<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
<head>
  {{ block "title" . }}
    <title>{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }} :: {{ $.Site.Title }}{{ end }}</title>
  {{ end }}
  {{ partial "head.html" . }}
</head>
<body>
{{ if .IsHome}}
  <div class="ghost {{ ( or .Params.color $.Site.Params.ThemeColor ) -}}" id="ghost">
{{ else }}
  <div class="{{- ( or .Params.color $.Site.Params.ThemeColor ) -}}">
{{ end }}
    <div class="fuzz"></div>

      {{ if not (.IsHome)}}
       {{ $container := cond ($.Site.Params.FullWidthTheme | default false) "container full" (cond ($.Site.Params.CenterTheme | default false) "container center" "container") }}
        <div class="{{- $container -}}{{- cond ($.Site.Params.oneHeadingSize | default true) " headings--one-size" "" }}">
        {{ partial "header.html" . }}
      {{ else }}
        <div class="{{- cond ($.Site.Params.oneHeadingSize | default true) " headings--one-size" "" }}">
      {{ end }}
      <div class="content">
        {{ block "main" . }}
        {{ end }}
      </div>
      {{ block "footer" . }}
        {{ partial "footer.html" . }}
      {{ end }}
    </div>
  </div>
</body>
<script>
  {{ if .IsHome }}
  var p = document.getElementById("ghost");
  var p_prime = p.cloneNode(true);
	document.body.appendChild(p_prime);
  {{ end }}
</script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-81JJNV4Z09"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-81JJNV4Z09');
  </script>
</html>
